.sidenav{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 700px;
    border:none;
    
   
   
}
.sidenav img{
    width: 120px;
    margin: 25px;
    
}
.icon{
    background: none;
}
.sidenav-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    gap: 15px;
   

}
.sidenav-button{
    background: 0;
  
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    align-items: center;
    border: none;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 35px;
    width: 100%;
    color: white;
    transition: all 0.2s ease;
    

}
.sidenav-button:hover{
   
        cursor: pointer;
    background: rgba(92, 91, 91, 0.204);
    transform: scale(1.1);


}
.sidenav-button span{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
    background: none;

}

.sidenav-more{
    position: fixed;
    bottom:3px;
    

}
@media(max-width:900px){
    .sidenav-button span{
     display: none;
    }
    .sidenav img{
        display: none;
    }
    .sidenav-button{
        font-size: 25px;
        margin-left: 0;
        margin-top: 10px;
    }
    .sidenav{
        width: 50px;

    }
 }

 @media(max-width:720px){
    .sidenav{
        display: none;
    }
 }



