.suggest{
    width: 100%;
    
  
}
.profile-title{
    width: 100%;
    display: flex;
   
    
}

.profile-left{
    
    display: flex;
    align-items: center;
   

}
.profile-right{
    width: 100%;
    margin-left:1%;
   
  
    margin-left: 100px;
}
.profile-title .profile-left .image img{
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: 2px solid  #fd06f5;
    transition: 0.3s ease;

}
.image img:hover{
    transform: scale(1.3);
}


.profile-title .profile-left .details p{
    
    
    font-size: 10px;
}
.suggestion-title .suggestion-left .details p{
    font-size: 12px;
}

.suggestions{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-weight:600;
    color: #515151;
    
    
    

}
.suggestions p:last-child{
    margin-right: 200px;
}
.profile-right,.suggestion-right{
    color: blue;
    font-size: 12px;
    margin-right: 200px;

    
}







.suggestion-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
   
}

.suggestion-title .suggestion-left, .suggestion-right{
    display: flex;
    
   

}


.suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border: 2px solid  #fd06f5;
    transition: 0.3s ease;
}

.suggestion-title .suggestion-left  .details .name{
    padding-bottom: 3px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}




























/* .suggestion-title .suggestion-left .details p{
    font-size: 12px;
}
.profile-right{
    margin: 20px 0;
}


.suggestions{
    display: flex;
    
    
    

}
.suggestions p:last-child{
    margin-right: 200px;
    color: #fff;
}
.profile-right,.suggestion-right{
    color: blue;
    font-size: 12px;
    margin-right: 200px;

    
}







.suggestion-title{
    display: flex;

    margin-bottom: 15px;
   
}

.suggestion-title .suggestion-left, .suggestion-right{
    display: flex;
    
   

}


.suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.suggestion-title .suggestion-left  .details .name{
    padding-bottom: 3px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
} */